body {
    background-color: #1d3557;
    font-family: sans-serif;
    margin: 8px 0 0 0;
}

a {
    font-family: inherit;
    text-decoration: none;
    color: #f1faee;
}

.wrapper {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.page {
    margin: auto;
    margin-bottom: auto;
    width: 100%;
    top: 24%;
    left: 0;
    right: 0;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 150px auto 0;
    padding: 0 7px;
    max-width: 1270px;
}

.logo-wrapper {
    display: flex;
    align-items: center;
    flex: 1 0 auto;
}

#logo {
    width: 78px;
    height: 78px;
}

#logo-text {
    width: 135px;
}

.shortner-wrapper {
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: none;
    display: block;
    float: none;
}

#shortner-form {
    padding-left: 1em;
    padding-top: 1px;
    width: 100%;
    flex: 1 0 auto;
    max-width: 665px;
    margin: 0 auto;
    background-color: #457b9d;
    border-color: #457b9d;
    box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    font-size: 1.14em;
    padding-right: 3.5em;
    box-sizing: border-box;
    border-radius: 4px;
    display: block;
    position: relative;
    height: 2.8em;
    border: 1px solid rgba(0,0,0,0.15);
}

#path {
    color: #a8dadc;
    font-size: 1.1em;
    font-weight: normal;
    display: block;
    width: 100%;
    background: none;
    outline: none;
    border: none;
    padding: 0;
    height: 2.545455em;
    z-index: 1;
    position: relative;
    top: -1px;
}

#submit {
    border-radius: 0 4px 4px 0;
    min-width: 26px;
    color: #a8dadc;
    font-size: 1.25em;
    padding: 0 .64em;
    height: auto;
    min-height: 1.8em;
    margin-top: -1px;
    margin-bottom: -1px;
    margin-right: -3px;
    line-height: 1.5;
    background-color: transparent;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    box-sizing: content-box;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    text-decoration: none !important;
    width: 1em;
    display: block;
    cursor: pointer;
    background: transparent;
    text-align: center;
    border: none;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 2px;
    left: auto;
    margin: auto;
    z-index: 2;
    outline: none;
}

.result {
    min-height: auto;
    align-items: start;
    justify-content: center;
    text-align: center;
    margin: 30px auto 48px;
    background-color: #f1faee;
    padding-bottom: 2px;
    padding-top: 2px;
}

.result a {
    color: #e63946;
}

.result-title {
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    padding-bottom: 5px;
    font-weight: 800;
    color: #1d3557;
}

#clipboard {
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: #1d3557;
}

footer {
    background-color: #f1faee;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin: 12px auto 0;
    padding: 32px 12px 12px 12px;
    text-align: center;
    color: #1d3557;
}

footer a {
    color: #1d3557;
}